/* General styles */
html { 
  min-width: 400px;
  height: fit-content;
}
body {
  background-color: #2c3e50;
  color: #ecf0f1;
}

.header h1 {
  font-size: 1.5rem;
  color: #ecf0f1;
}

.input-group .form-control {
  background-color: #34495e;
  border: none;
  color: #ecf0f1;
}

.input-group .btn {
  background-color: #3498db;
  border: none;
}

.section h5 {
  color: #ecf0f1;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.list-group-item {
  background-color: #34495e;
  border: none;
  color: #ecf0f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

/* Custom iOS-like switch styles */
.custom-switch .custom-control-input {
  display: none;
}

.custom-switch .custom-control-label {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  background-color: #b0b0b0;
  border-radius: 12px;
  transition: background-color 0.3s;
  vertical-align: middle;
}

.custom-switch .custom-control-label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s, background-color 0.3s;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label {
  background-color: #4cd964; /* Green color from the image */
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  transform: translateX(20px);
  background-color: #fff; /* Ensure the circle remains white when checked */
}

/* Custom delete button styles */
.delete-btn {
  font-size: 1rem;
  line-height: 1;
  padding: 0;
  background: none;
  border: none;
  color: #ecf0f1;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
}

.delete-btn:hover {
  color: #ecf0f1;
}

/* Ensure flex alignment for items */
.list-group-item .d-flex {
  display: flex;
  align-items: center;
}

.list-group-item span {
  flex: 1;
  display: flex;
  align-items: center;
}

/* Button styles */
.btn-block {
  display: block;
  width: 100%;
}

/* Add padding below the Generate Checklist button */
#generate-checklist {
  margin-bottom: 20px; /* Adjust the value to your preference */
  background-color: #007bff;
  border: none;
  color: #ecf0f1;
}

/* Notification styles */
.notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #27ae60;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  animation: fadein 0.5s forwards, fadeout 0.5s 2.5s forwards;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}
